$black: #000;
$white: #fff;
.dashboard {
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba($black, 0.8),
  //     rgba($black, 0.6)
  //   ),
  //   url(https://images.unsplash.com/photo-1448375240586-882707db888b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyODIxNDl8MHwxfHNlYXJjaHwxfHxmb3Jlc3R8ZW58MHx8fHwxNjM5MTI1OTYx&ixlib=rb-1.2.1&q=85);
  background-repeat: no-repeat;
  background-size: cover;
  &_wrapper {
    display: flex;
  }

  &_sidebar {
    width: 20%;
    color: $white;
    height: 100vh;
    max-height: 100vh;
  }

  &_navlinks {
    margin-top: 2em;

    ul {
      padding: 0;
      list-style-type: none;

      li {
        a {
          display: flex;
          align-items: center;
          padding: 0.68em 0;
          padding-left: 2em;
          transition: all 0.3s ease-in-out;

          span {
            margin-left: 2em;
            font-size: 0.9rem;
          }

          &:hover {
            background-color: rgba($white, 0.1);
          }
        }
      }
    }
  }

  &_main {
    width: 80%;
    height: 100vh;
    max-height: 100vh;
    color: $white;
    padding: 2em;
    position: relative;
  }

  &_user {
    padding-left: 2em;
    cursor: pointer;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    // background-color: purple;

    &_img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1em;
    }
    &_name {
      font-size: 0.9rem;
    }

    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid rgba($white, 0.3);
    }
  }
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 2em;
  top: 2em;

  form {
    width: 35%;
    & > div {
      display: flex;
      align-items: center;

      span {
        margin-right: -1.8em;
        margin-top: 0.2em;
      }

      input[type="text"] {
        border: none;
        outline: none;
        padding: 1em 1.2em;
        padding-left: 3em;
        width: 100%;
        border-radius: 20px;
        background-color: rgba($white, 0.2);
        color: $white;
        box-shadow: inset 0 0 3px 3px rgba($white, 0.1);
      }
    }
  }
}

.tracks {
  margin-top: 2em;

  &_list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.7em;
    }
  }

  &_item {
    overflow: hidden;
    display: flex;
    padding: 0.56em;
    transition: all 0.5s ease;

    &_cover {
      position: relative;
      width: 48px;
      height: 48px;

      &_play {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        cursor: pointer;
        background-color: rgba($black, 0.2);
      }
    }

    &_info {
      margin-left: 1em;

      h3 {
        color: var(--text-gray);
      }
    }

    &:hover {
      background-color: rgba($white, 0.2);
    }

    &:hover &_cover_play {
      opacity: 1;
    }
  }
}

.settings {
  margin-top: 30px;

  &_togglebtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-left: 2em;
    padding-top: 1.3em;
    display: flex;
    align-items: center;
    color: #fff;
    span {
      margin-left: 1em;
    }
    font-size: 1rem;
  }
}
