.header {
  background-color: aliceblue;
  height: 80px;

  &_wrapper {
    padding: 0 1.3em;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  background-color: var(--primary-color);
}

.logo {
  color: var(--text-white);
}

.nav ul {
  list-style-type: none;
  display: flex;

  li {
    margin-left: 1em;
    a {
      text-decoration: none;
      color: var(--text-white);
    }
  }
}
